/* LEVEL 1 */
.level[data-line="book"][data-level="1"] {
    top: -314px;
    left: 49px;
}

.level[data-line="book"][data-level="1"]::before {
    border-top: 1px var(--var-tree-branch-style) var(--level_1-border-color);
    border-right: 1px var(--var-tree-branch-style) var(--level_1-border-color);
    height: 46px;
    width: 67px;
    right: -70px;
    bottom: -23px;
    border-top-right-radius: 10px;
}

/* LEVEL 2 */
.level[data-line="book"][data-level="2"] {
    top: -45px;
    left: -200px;
    width: 122px;
}

.level[data-line="book"][data-level="2"]::after {
    border-top: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    border-right: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    width: 59px;
    right: -62px;
    bottom: 42px;
}

/* LEVEL 3 */
.level[data-line="book"][data-level="3"][data-id="no"] {
    right: -4px;
    bottom: -90px;
}

.level[data-line="book"][data-level="3"][data-id="no"]::before {
    border-right: 1px var(--var-tree-branch-style) var(--level_3-border-color);
    height: 25px;
    right: 22px;
    bottom: 48px;
}

.level[data-line="book"][data-level="3"][data-id="yes"] {
    left: -24px;
    bottom: -90px;
}

.level[data-line="book"][data-level="3"][data-id="yes"]::before {
    border-right: 1px var(--var-tree-branch-style) var(--level_3-border-color);
    height: 25px;
    right: 22px;
    bottom: 48px;
}