.d-none {
    display: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.not_link {
    text-decoration: none;
    cursor: auto;
}

/* FONT */
.fz-30 {
    font-size: 30px;
}
.fz-60 {
    font-size: 60px;
}

.fw-demi {
    font-weight: bold;
}
/* FONT */

/* PADDINGS START */
.p-20 {
    padding: 20px;
}
/* PADDINGS */

/* MARGINS START */
.m-0 {
    margin: 0;
}
/* MARGINS */