.level.infographic[data-level="1"] {
    top: -378px;
    left: 114px;
}

.level.infographic[data-level="1"]:after {
    border-top: 1px var(--var-tree-branch-style) var(--level_1-border-color);
    border-right: 1px var(--var-tree-branch-style) var(--level_1-border-color);
    height: 114px;
    width: 21px;
    right: -23px;
    bottom: -84px;
    border-top-right-radius: 10px;

}

/* LEVEL 2 */
.level.infographic[data-level="2"] {
    top: -131px;
    left: -46px;
    min-width: 182px;
}

.level.infographic[data-level="2"]:after {
    border-top: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    border-right: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    height: 17px;
    right: 95px;
    bottom: -19px;
    border-top-right-radius: 10px;

}

/* LEVEL 3 */
.level.infographic[data-level="3"][data-id="yes"] {
    top: -131px;
}

.level.infographic[data-level="3"][data-id="yes"]:after {
    border-top: 1px var(--var-tree-branch-style) var(--level_3-border-color);
    border-right: 1px var(--var-tree-branch-style) var(--level_3-border-color);
    height: 19px;
    right: 26px;
    bottom: -21px;

}

.level.infographic[data-level="3"][data-id="no"] {
    top: -131px;
    right: -1px;
}

.level.infographic[data-level="3"][data-id="no"]:after {
    border-top: 1px var(--var-tree-branch-style) var(--level_3-border-color);
    border-right: 1px var(--var-tree-branch-style) var(--level_3-border-color);
    height: 20px;
    right: 26px;
    bottom: -21px;

}

/* LEVEL 4 */
.level.infographic[data-level="4"][data-id="universe"] {
    top: -89px;
    right: -502px;
}

.level.infographic[data-level="4"][data-id="universe"]:before{
    border-top: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    height: 27px;
    width: 432px;
    left: -433px;
    top: 25px;
    border-top-left-radius: 10px;
}

.level.infographic[data-level="4"][data-id="lot-tables"] {
    top: -37px;
    right: -209px;
    min-width: 168px;
}

.level.infographic[data-level="4"][data-id="lot-tables"]:before{
    border-top: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    width: 25px;
    left: -27px;
    top: 26px;
}


/* LEVEL 5 */
.level.infographic[data-level="5"][data-id="yes"] {
    bottom: -88px;
    right: 91px;
}

.level.infographic[data-level="5"][data-id="yes"]:before{
    border-left: 1px var(--var-tree-branch-style) var(--level_5-border-color);
    height: 23px;
    left: 27px;
    top: -25px;
}

.level.infographic[data-level="5"][data-id="no"] {
    bottom: -88px;
    right: 0px;
}

.level.infographic[data-level="5"][data-id="no"]:before{
    border-left: 1px var(--var-tree-branch-style) var(--level_5-border-color);
    height: 23px;
    left: 27px;
    top: -25px;
}

/* LEVEL 6 */
.level.infographic[data-level="6"][data-id="lgothic"] {
    bottom: -90px;
    right: -98px;
    min-width: 142px;
}

.level.infographic[data-level="6"][data-id="lgothic"]:before{
    border-left: 1px var(--var-tree-branch-style) var(--level_6-border-color);
    height: 23px;
    left: 27px;
    top: -25px;
}

/* LEVEL 6 */
.level.infographic[data-level="6"][data-id="wterminator"] {
    bottom: -25px;
    right: -239px;
    min-width: 198px;
}

.level.infographic[data-level="6"][data-id="wterminator"]:before{
    border-top: 1px var(--var-tree-branch-style) var(--level_6-border-color);
    width: 26px;
    left: -26px;
    top: 43px;
}

/* LEVEL 7 */
.level.infographic[data-level="7"][data-id="yes"] {
    bottom: -77px;
    left: 18px;
}

.level.infographic[data-level="7"][data-id="yes"]:before{
    border-left: 1px var(--var-tree-branch-style) var(--level_7-border-color);
    height: 15px;
    left: 24px;
    top: -15px;
}

.level.infographic[data-level="7"][data-id="no"] {
    bottom: -77px;
    right: 18px;
}

.level.infographic[data-level="7"][data-id="no"]:before{
    border-left: 1px var(--var-tree-branch-style) var(--level_7-border-color);
    height: 15px;
    left: 24px;
    top: -15px;
}

/* LEVEL 8 */
.level.infographic[data-level="8"][data-id="ocr"] {
    bottom: -80px;
    left: -17px;
}

.level.infographic[data-level="8"][data-id="ocr"]:before{
    border-left: 1px var(--var-tree-branch-style) var(--level_8-border-color);
    height: 15px;
    left: 29px;
    top: -15px;
}

.level.infographic[data-level="8"][data-id="looking_hot"] {
    bottom: -42px;
    right: -200px;
    min-width: 153px;
}

.level.infographic[data-level="8"][data-id="looking_hot"]:before{
    border-top: 1px var(--var-tree-branch-style) var(--level_8-border-color);
    width: 29px;
    left: -31px;
    top: 27px;
}

/* LEVEL 9 */
.level.infographic[data-level="9"] {
    top: -138px;
    right: 28px;
}

.level.infographic[data-level="9"]:after{
    border-right: 1px var(--var-tree-branch-style) var(--level_9-border-color);
    height: 25px;
    right: 28px;
    bottom: -25px;
}

/* LEVEL 10 */
.level.infographic[data-level="10"] {
    top: -105px;
    right: -48px;
    min-width: 118px;
}

.level.infographic[data-level="10"]:after{
    border-right: 1px var(--var-tree-branch-style) var(--level_10-border-color);
    height: 25px;
    right: 59px;
    bottom: -25px;
}

@media (max-width: 768px) {
    
}

