.level.infographic[data-level="1"] {
    top: -138px;
    left: 114px;
}

.level.infographic[data-level="1"]:after {
    border-top: 1px dotted var(--level_1-border-color);
    border-right: 1px dotted var(--level_1-border-color);
    height: 114px;
    width: 42px;
    right: -45px;
    bottom: -84px;
    border-top-right-radius: 10px;

}

/* LEVEL 2 */
.level.infographic[data-level="2"] {
    top: -131px;
    left: -46px;
    min-width: 182px;
}

.level.infographic[data-level="2"]:after {
    border-top: 1px dotted var(--level_2-border-color);
    border-right: 1px dotted var(--level_2-border-color);
    height: 17px;
    right: 95px;
    bottom: -19px;
    border-top-right-radius: 10px;

}

/* LEVEL 3 */
.level.infographic[data-level="3"][data-id="yes"] {
    top: -131px;
}

.level.infographic[data-level="3"][data-id="yes"]:after {
    border-top: 1px dotted var(--level_3-border-color);
    border-right: 1px dotted var(--level_3-border-color);
    height: 19px;
    right: 26px;
    bottom: -21px;

}

.level.infographic[data-level="3"][data-id="no"] {
    top: -131px;
    right: -1px;
}

.level.infographic[data-level="3"][data-id="no"]:after {
    border-top: 1px dotted var(--level_3-border-color);
    border-right: 1px dotted var(--level_3-border-color);
    height: 20px;
    right: 26px;
    bottom: -21px;

}
/* LEVEL 4 */
.level.infographic[data-level="4"][data-id="universe"] {
    top: -89px;
    right: -502px;
}

.level.infographic[data-level="4"][data-id="universe"]:before{
    border-top: 1px dotted var(--level_4-border-color);
    border-left: 1px dotted var(--level_4-border-color);
    height: 27px;
    width: 432px;
    left: -433px;
    top: 25px;
    border-top-left-radius: 10px;

}

.level.infographic[data-level="4"][data-id="lot-tables"] {
    top: -37px;
    right: -209px;
    min-width: 168px;
}

.level.infographic[data-level="4"][data-id="lot-tables"]:before{
    border-top: 1px dotted var(--level_4-border-color);
    border-left: 1px dotted var(--level_4-border-color);
    width: 25px;
    left: -27px;
    top: 26px;
}


/* LEVEL 5 */
.level.infographic[data-level="5"][data-id="yes"] {
    bottom: -88px;
    right: 91px;
}

.level.infographic[data-level="5"][data-id="yes"]:before{
    border-left: 1px dotted var(--level_5-border-color);
    height: 23px;
    left: 27px;
    top: -25px;

}

.level.infographic[data-level="5"][data-id="no"] {
    bottom: -88px;
    right: 0px;
}

.level.infographic[data-level="5"][data-id="no"]:before{
    border-left: 1px dotted var(--level_5-border-color);
    height: 23px;
    left: 27px;
    top: -25px;

}

@media (max-width: 768px) {
    .level.infographic[data-level="1"],
    .level.infographic[data-level="2"],
    .level.infographic[data-level="3"],
    .level.infographic[data-level="4"],
    .level.infographic[data-level="5"],
    .level.infographic[data-level="6"],
    .level.infographic[data-level="7"],
    .level.infographic[data-level="8"] {
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto !important;
    }
}

