/* LEVEL 1 */
.level.newspaper[data-level="1"] {
    top: -300px;
    right: -358px;
}

.level.newspaper[data-level="1"]::before {
    border-top: 1px var(--var-tree-branch-style) var(--level_1-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_1-border-color);
    height: 33px;
    width: 305px;
    left: -306px;
    bottom: -8px;
    border-top-left-radius: 10px;
}

/* LEVEL 2 */
.level.newspaper[data-level="2"][data-id="text_face"] {
    top: -125px;
    right: -99px;
    min-width: 106px;
}

.level.newspaper[data-level="2"][data-id="text_face"]::before {
    border-top: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    height: 42px;
    left: 11px;
    bottom: -45px;
}

.level.newspaper[data-level="2"][data-id="combination"] {
    top: -31px;
    right: -254px;
}

.level.newspaper[data-level="2"][data-id="combination"]::before {
    border-top: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    width: 106px;
    left: -109px;
    bottom: 21px;
}

.level.newspaper[data-level="2"][data-id="display"] {
    top: 34px;
    right: 2px;
}

.level.newspaper[data-level="2"][data-id="display"]::before {
    border-top: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_2-border-color);
    height: 15px;
    left: 41px;
    bottom: 48px;
}

/* LEVEL 3 */
.level.newspaper[data-level="3"][data-id="boring"] {
    top: -136px;
    right: -50px;
    min-width: 163px;
}

.level.newspaper[data-level="3"][data-id="boring"]::before {
    border-top: 1px var(--var-tree-branch-style) var(--level_3-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_3-border-color);
    height: 23px;
    left: 74px;
    bottom: -24px;
}

.level.newspaper[data-level="3"][data-id="traditional"] {
    top: 43px;
    right: -41px;
}

.level.newspaper[data-level="3"][data-id="traditional"]::before {
    border-left: 1px var(--var-tree-branch-style) var(--level_3-border-color);
    height: 26px;
    left: 61px;
    bottom: 80px;
}

/* LEVEL 4 */
.level.newspaper[data-level="4"][data-id="boring_yes"] {
    top: -141px;
    right: 72px;
}

.level.newspaper[data-level="4"][data-id="boring_yes"]::before {
    border-top: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    height: 26px;
    left: 28px;
    bottom: -29px;
}

.level.newspaper[data-level="4"][data-id="boring_no"] {
    top: -141px;
    right: 6px;
}

.level.newspaper[data-level="4"][data-id="boring_no"]::before {
    border-top: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    height: 26px;
    left: 28px;
    bottom: -29px;
}

.level[data-level="4"][data-line="newspaper"][data-id="traditional_yes"] {
    bottom: -98px;
    right: 59px;
}

.level[data-level="4"][data-line="newspaper"][data-id="traditional_yes"]::before {
    border-left: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    height: 32px;
    left: 28px;
    bottom: 48px;
}

.level[data-level="4"][data-line="newspaper"][data-id="traditional_no"] {
    bottom: -98px;
    right: -16px;
}

.level[data-level="4"][data-line="newspaper"][data-id="traditional_no"]::before {
    border-left: 1px var(--var-tree-branch-style) var(--level_4-border-color);
    height: 32px;
    left: 28px;
    bottom: 48px;
}

/* LEVEL 5 */
.level.newspaper[data-level="5"][data-id="times"] {
    top: -143px;
    right: -325px;
}

.level.newspaper[data-level="5"][data-id="times"]::before {
    border-top: 1px var(--var-tree-branch-style) var(--level_5-border-color);
    border-left: 1px var(--var-tree-branch-style) var(--level_5-border-color);
    width: 272px;
    height: 87px;
    left: -273px;
    bottom: -64px;
    border-top-left-radius: 10px;
}

.level.newspaper[data-level="5"][data-id="heavily"] {
    top: -112px;
    right: -174px;
    width: 204px;
}

.level.newspaper[data-level="5"][data-id="heavily"]::before {
    border-left: 1px var(--var-tree-branch-style) var(--level_5-border-color);
    height: 15px;
    left: 16px;
    bottom: -17px;
}

.level[data-line="newspaper"][data-level="5"][data-id="highways"] {
    top: 46px;
    left: -159px;
    min-width: 174px;
}

.level[data-line="newspaper"][data-level="5"][data-id="highways"]::after {
    border-left: 1px var(--var-tree-branch-style) var(--level_5-border-color);
    height: 28px;
    right: 14px;
    top: -30px;
}

/* LEVEL 6 */
.level.newspaper[data-level="6"][data-id="heavily_yes"] {
    top: 32px;
    right: 62px;
}

.level.newspaper[data-level="6"][data-id="heavily_yes"]::before {
    border-left: 1px var(--var-tree-branch-style) var(--level_6-border-color);
    height: 16px;
    left: 27px;
    bottom: 47px;
}

.level.newspaper[data-level="6"][data-id="heavily_yes"]::after {
    border-left: 1px var(--var-tree-branch-style) var(--level_7-border-color);
    height: 10px;
    left: 29px;
    bottom: -11px;
}

.level.newspaper[data-level="6"][data-id="heavily_no"] {
    top: 32px;
    right: -10px;
}

.level.newspaper[data-level="6"][data-id="heavily_no"]::before {
    border-left: 1px var(--var-tree-branch-style) var(--level_6-border-color);
    height: 15px;
    left: 23px;
    bottom: 46px;
}

/* LEVEL 7 */
.level.newspaper[data-level="7"][data-id="miller"] {
    top: -83px;
    right: -179px;
}

.level.newspaper[data-level="7"][data-id="miller"]::before {
    border-bottom: 1px var(--var-tree-branch-style) var(--level_7-border-color);
    border-right: 1px var(--var-tree-branch-style) var(--level_7-border-color);
    height: 65px;
    width: 162px;
    left: -124px;
    bottom: -68px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.level.newspaper[data-level="7"][data-id="relighting"] {
    top: 44px;
    right: -93px;
    min-width: 194px;
}

.level.newspaper[data-level="7"][data-id="relighting"]::before {
    border-left: 1px var(--var-tree-branch-style) var(--level_7-border-color);
    height: 28px;
    left: 89px;
    bottom: 80px;
}