@import 'variables.css';
@import 'format.css';
@import '../fonts/fonts.css';

@import 'infographic.css';
@import "newspaper.css";
@import 'logo.css';
@import 'invitation.css';
@import 'book.css';

body {
    background-color: black;
    color: white;
    text-align: center;
}

main {
    height: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LEVELS START*/
.level a:hover {
    color: yellow;
    text-shadow: 3px 3px 5px white;
}

.level a:active {
    color: red;
}

.level:after,
.level:before {
    content: "";
    position: absolute;

}

.hidden {
    display: none !important;
}

.level[data-level="0"] {
    
    padding: 20px;
    width: 526px;
    margin: 0 auto;
    border: 3px solid white;
    position: relative;
}

.level {
    width: fit-content;
    position: absolute;
    display: block;
    padding: 15px;
    font-size: var(--var-fz-level);
    border-radius: 10px;
}

.level > .container {
    position: relative;
}

.level[data-level="0"]:hover {
    color: yellow;
    border-color: yellow;
    text-shadow: 3px 3px 10px green;
}

.level[data-level="0"] h2:hover {
    cursor: pointer;
    color: yellowgreen;
    text-shadow: 3px 3px 10px green;
}

.level[data-level^="1"] {
    border: 1px solid var(--level_1-border-color);
}

.level[data-level^="2"] {
    border: 1px solid var(--level_2-border-color);
}

.level[data-level^="3"] {
    border: 1px solid var(--level_3-border-color);
}

.level[data-level^="4"] {
    border: 1px solid var(--level_4-border-color);
}

.level[data-level^="5"] {
    border: 1px solid var(--level_5-border-color);
}

.level[data-level^="6"] {
    border: 1px solid var(--level_6-border-color);
}

.level[data-level^="7"] {
    border: 1px solid var(--level_7-border-color);
}

.level[data-level^="8"] {
    border: 1px solid var(--level_8-border-color);
}

.level[data-level^="9"] {
    border: 1px solid var(--level_9-border-color);
}

.level[data-level^="10"] {
    border: 1px solid var(--level_10-border-color);
}
/* LEVELS END */

/* BUTTONs START*/
.btn_hide_all,
.btn_show_all {
    position: absolute;
    border: 2px dashed yellowgreen;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    min-width: 150px;
    margin: 10px;

}
.btn_show_all {
    top: 0;
    left: 0;
}

.btn_hide_all {
    top: 60px;
    left: 0;

}

.btn_show_all:hover,
.btn_hide_all:hover {
    color: yellowgreen;
}

.btn_show_all:active,
.btn_hide_all:active {
    color: darkred;
    border-color: darkred;
}

@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .btn_container {
        display: flex;
    }

    .btn_show_all,
    .btn_hide_all {
        position: static;
    };
}

.btn_close {
    cursor: pointer;
    position:absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    padding: 0 3px 0 3px;
}

.btn_close:before {
    content: "✕";
}

.btn_close--open:before {
    content: '⇉';
}

.btn_close[data-level="1"] {
    border-left:1px solid var(--level_1-border-color);
    border-bottom: 1px solid var(--level_1-border-color);
}

.btn_close[data-level="2"] {
    border-left: 1px solid var(--level_2-border-color);
    border-bottom: 1px solid var(--level_2-border-color);
}

.btn_close[data-level="3"] {
    border-left: 1px solid var(--level_3-border-color);
    border-bottom: 1px solid var(--level_3-border-color);
}

.btn_close[data-level="4"] {
    border-left: 1px solid var(--level_4-border-color);
    border-bottom: 1px solid var(--level_4-border-color);
}

.btn_close[data-level="5"] {
    border-left: 1px solid var(--level_5-border-color);
    border-bottom: 1px solid var(--level_5-border-color);
}

.btn_close[data-level="6"] {
    border-left: 1px solid var(--level_6-border-color);
    border-bottom: 1px solid var(--level_6-border-color);
}

.btn_close[data-level="7"] {
    border-left: 1px solid var(--level_7-border-color);
    border-bottom: 1px solid var(--level_7-border-color);
}

.btn_close[data-level="8"] {
    border-left: 1px solid var(--level_8-border-color);
    border-bottom: 1px solid var(--level_8-border-color);
}

.btn_close[data-level="9"] {
    border-left: 1px solid var(--level_9-border-color);
    border-bottom: 1px solid var(--level_9-border-color);
}

.btn_close[data-level="10"] {
    border-left: 1px solid var(--level_10-border-color);
    border-bottom: 1px solid var(--level_10-border-color);
}
/* CLOSE BUTTON */

/* MOBILE START*/
@media (max-width: 768px) {
    main {
        height: auto;
    }

    .level {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        top: auto;
    }
    .level[data-level="1"],
    .level[data-level="2"],
    .level[data-level="3"],
    .level[data-level="4"],
    .level[data-level="5"],
    .level[data-level="6"],
    .level[data-level="7"],
    .level[data-level="8"],
    .level[data-level="9"],
    .level[data-level="10"] {
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto !important;
    }
    

    .level:after,
    .level:before {
        display: none;
    }

    .small-hidden {
        display: none;
    }
}