:root {
    --level_1-border-color: red;
    --level_2-border-color: yellowgreen;
    --level_3-border-color: pink;
    --level_4-border-color: blue;
    --level_5-border-color: green;
    --level_5-border-color: orange;
    --level_6-border-color: grey;
    --level_7-border-color: olive;
    --level_8-border-color: lightblue;
    --level_9-border-color: purple;
    --level_10-border-color: yellow;

    --var-fz-level: 14px;

    --var-tree-branch-style: dotted;
}